.category-2 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .category__center {
    width: 80%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
    gap: 10px;
    h1 {
        margin-right: 20px;
      font-family: var(--shabnam);
      font-size: 25px;
      color: rgb(117, 117,117);
      margin-bottom: 10px;
    }
    .category__slider {
      width: 100%;
      height: 50%;

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: 0.3s ease;
        
         &:hover {
          transform: translateY(-15px);
          
          
        }
 
      }

      .swiper-slide img {
        align-items: center;
        text-align: center;
        justify-content: center;
       border-radius: 15px;
        display: block;
        width: 95%;
        height: 90%;
        object-fit: contain;
        box-shadow: 2px 3px 2px  rgba(0, 0, 0, 0.1);
        cursor: pointer;
       
        
      }
    }
  }
}
.swiper-button-next{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 200ms;
    background-color: #e7e7e7;
    border: 1px solid gray;
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 15px;
        height: 15px;
        color: gray;
    }
    
}
.swiper-button-prev{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 200ms;
    background-color: #e7e7e7;
    border: 1px solid gray;
    &:hover{
        background-color: gray;
    }
    &:hover svg{
        color:whitesmoke;
    }
    svg{
        width: 15px;
        height: 15px;
        color: gray;
    }
    
}