* {
  margin: 0;
  padding: 0;
}
.club {
  width: 1300px;
  height: 725px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  font-family: var(--shabnam);
  border: 1px solid rgba(128, 128, 128, 0.138);
  .text-club1 {
    font-size: 30px;
    text-align: end;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(117, 117, 117);
    line-height: 45px;
    cursor: pointer;
  }
  .club-img {
    width: 1230px;
    height: 439px;
    margin: 10px auto;
    margin-left: 35px;
    border-radius: 12px;
  }
  .text-c1,
  .text-c2,
  .text-c3 {
    direction: rtl;
    justify-content: end;
    align-items: end;
    text-align: justify;
    line-height: 24px;
    padding: 0px 32px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}
.club-card1 {
  direction: rtl;
  width: 1300px;
  height: 190px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  font-family: var(--shabnam);
  border: 1px solid rgba(128, 128, 128, 0.138);
  display: flex;
  flex-flow: column wrap;
}
.card-img {
  display: flex;
  img {
    width: 110px;
    height: 160px;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    flex-flow: column wrap;
  }
  h1 {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    height: 36px;
    color: rgb(166, 75, 36);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 3px;
    box-sizing: border-box;
  }
}
.text-card1 {
  font-size: 16px;
  color: rgb(117, 117, 117);
  padding: 0px 15px;
  box-sizing: border-box;
}
.btn {
  width: 380px;
  height: 50px;
  background-color: #0a295a;
  color: #ffffff;
  margin: 40px auto;
  margin-left: 39%;
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  font-family: var(--shabnam);
  border: none;
}
.back-top {
  direction: rtl;
  margin: 30px auto;
  width: 100%;
  height: 100px;
  background-color: #e2e2e2;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-flow: row wrap;

  font-family: var(--shabnam);
  font-size: 14px;

  .more-back {
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 21px;
    margin-top: 10px;
    margin-right: 180px;
    opacity: 0.5;
  }
  .more-back1 {
    font-size: 14;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 5px;
    line-height: 15px;
    margin-right: 1px;
    opacity: 0.5;
  }
  .more-back2 {
    padding: 30px;
    box-sizing: border-box;
    margin-top: 5px;
    line-height: 21px;
    margin-right: 3px;
    opacity: 0.5;
  }
  .btn1 {
    opacity: 1;
    width: 100px;
    height: 22px;
    border-radius: 12px;
    height: 50px;
    border: 12px rgb(226, 232, 240);
    box-shadow: 0px 2px 2px 0px #6b6b6b;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 25px;
    text-align: center;

    a {
      padding: 12px;
      box-sizing: border-box;
      font-family: var(--shabnam);
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87);
      opacity: 0.5;
    }
    .a-top {
      &:hover {
        opacity: 1;
      }
    }
  }
}
.a-top:hover {
  opacity: 1;
  color: black;
}
.rfooter {
  
  width: 100%;
  height: 45px;
  font-family: var(--shabnam);
  font-size: 14px;
  font-weight: 500;
  background-color: #0a5abd;
  color: #fffaf6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.read-more {
 
  direction: rtl;
  width: 80%;
  height: 300px;
  justify-content: center;
  align-items: center;
  font-family: var(--shabnam);
  margin: 0px 140px 0px 165px;
  margin-top: 0px;
  .right-more {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    height: 100%;
    .logo-more {
      width: 225px;
      height: 105px;
      margin-top: 100px;
      object-fit: cover;
      padding: 10px;
      margin-right: 10px;
      box-sizing: border-box;
      
    }
    .instagram {
      width: 24px;
      height: 24px;
    }
  }
  .insta-text {
    padding: 25px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 20px;
    .img-insta {
      margin-right: 10px;
    }
  }
  .center-more {
    width: 600px;
    line-height: 28px;
    margin-right: 20px;
    text-align: justify;
    .center-text {
      margin-top: 10px;
      margin-left: 30px;
      margin-right: 20px;
      opacity: 0.6;
    }
    .center-h1 {
      font-size: 20px;
      margin-right: 20px;
    }
  }
  .center-left-more {
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    font-size: 14px;
    margin-right: 50px;

    a {
      text-decoration: none;
      margin-top: 17px;
      opacity: 0.6;
      color: black;

      &:hover {
        opacity: 1;
      }
    }
    .center-h2 {
      font-size: 20px;
    }
  }
  .left-more {
    width: 180px;
    height: 100%;
    img {
      width: 125px;
      height: 136px;
      margin: 40px auto;
      margin-right: 160px;
      padding-top: 30px;
    }
  }
}
