.last-articles {
  width: 100%;
  height: 420px;

  display: flex;
  justify-content: center;
  align-items: center;
  .articles-center {
    width: 80%;
    height: 90%;
    .articles-text {
      display: flex;
      flex-flow: row wrap;
      gap: 1100px;
      h2 {
        font-family: var(--shabnam);
        font-size: 24px;
        color: #757575;
      }
      .articles-text-left {
        display: flex;
        flex-flow: row wrap;
        gap: 3px;
        cursor: pointer;
        h3 {
          font-family: var(--shabnam);
          font-size: 16px;
          color: #757575;
          font-weight: lighter;
        }
      }
    }
  }
  .swiper {
    width: 100%;
    height: 78%;
    padding-top: 25px;
  }

  .swiper-slide {
    height: 81%;
    text-align: center;
    font-size: 18px;

    border-radius: 15px;
    box-shadow:
      0 2px 4px -1px rgba(0, 0, 0, 0.263);
      cursor: pointer;
      &:hover .span-articles{
        color: #0a5abd;
      }
    .span-articles {
      display: block;
      margin: 0 auto;
      width: 90%;
      height: 20%;
      font-family: var(--shabnam);
      font-size: 14px;
      text-align: center;
      color: #000000de;
      line-height: 17px;
    }
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
   
   

  }
  .swiper-pagination {
    margin-top: 20px !important;
  }
  .line-height {
    display: block;
    line-height: 40px;
  }
}
.img{
  width: 100%;
  height: 60%;

}