@import "./setting.css";
@import "./head.css";
@import "./baner.css";
@import "./discount.css";
@import "./category.css";
@import "./available.css";
@import "./login.css";
@import "./whychoose.css";
@import "./topseller.css";
@import "./category2.css";
@import "./last.articles.css";
@import "./support-btn.css";
@import "./lavazemjanebi.css";


