.poshtibani-closed {
  position: fixed;
  bottom: 15px;
  right: 2px;
  z-index: 500;
  .closed {
    width: 50px;
    height: 50px;
    background-color: #114b92;
    margin-right: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 5px #2b2b2b;
    cursor: pointer;
    transition: 150ms;
    &:hover {
      width: 57px;
      height: 57px;
    }
    &:hover svg {
      width: 40px;
      height: 40px;
    }
    svg {
      transition: 200ms;
    }
  }
}
#closed {
  display: none;
  &:checked ~ .poshtibani-open {
    display: block;
  }
}
#open {
  display: none;
}
.poshtibani-open {
  display: none;
  position: fixed;
  width: 366px;
  height: 93vh;
  bottom: 15px;
  right: 4px;
  background-color: #fff;
  box-shadow: 1px 2px 15px #2b2b2b6b;
  border-radius: 10px;
  z-index: 1000;
  .top {
    width: 100%;
    height: 10%;
    padding: 5px 10px 0 0;
    box-sizing: border-box;
    background-color: #155bb1;
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 6px;
    .open {
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 29px;
      position: absolute;
      color: #fff;
      top: 17px;
      left: 18px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: #2e066373;
      }
    }
    .svg-div {
        img{
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
    }
}
    .text-div {
      width: 70%;
      height: 70%;
      .span-top {
        color: #fff;
        font-family: var(--shabnam);
        font-size: 14px;
      }
      .span-bottom {
        color: #fff;
        font-family: var(--shabnam);
        font-size: 12px;
      }
    }
  }
  .center {
    width: 100%;
    height: 6%;
    margin-bottom: 142%;
    background-color: #f8f8f8;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    column-gap: 15px;
    span {
      font-family: var(--shabnam);
      font-size: 11.5px;
      color: #393939;
    }
    .hover-div {
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 5px;
      font-weight: bold;
      &:hover .svg-center-open {
        background-color: #64076cc0;
      }
      &:hover .hover-span {
        color: #114b92;
      }
      .hover-span {
        transition: 200ms;
      }
      .svg-center-open {
        width: 18px;
        height: 18px;
        background-color: #7b7b7b;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;
      }
    }
  }
  .bottom {
    width: 100%;
    height: 13%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .text{
      width: 297.57px;
      height: 48.44px;
      border: 1px solid #2b2b2b33;
      border-radius: 12px;
      box-shadow: 0 8px 5px #2b2b2b0e;
      padding: 12px 8px;
      box-sizing: border-box;
      display: flex;
      flex-flow: row wrap;
      column-gap: 10px;
      border: 2px solid #2b2b2b3a;
      input{
        width: 235.57px;
        height: 19px;
        border: unset;
        outline: unset;
        font-size: 12px;
        font-family: var(--shabnam);
      }
    }
    .send {
      width: 38px;
      height: 38px;
      background-color: #c2c2c2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 150ms;
      &:hover{
        background-color: #155bb1;
      }
    }
  }
}