.choose {
  font-family: var(--shabnam);
  width: 1248px;
  height: 230px;
  margin: 20px auto;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row unset;
  .title {
    width: 90%;
    text-align: center;
    margin: 10px auto;
    
  }
  .whychoose {
    display: flex;
    flex-flow: column wrap;
    margin-left: 15px;
    width: 100%;
    height: 100%;
    img {
      width: 64px;
      height: 64px;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 1px auto;
    }
    h2 {
      font-size: 16px;
      margin: 1px auto;
      color: #757575;
    }
    p {
      font-size: 14px;
      margin: 1px auto;
      text-align: center;
      padding: 2px;
      box-sizing: border-box;
      margin-top: 5px;
      line-height: 20px;
      row-gap: 5px;
    }
  }
}
.title-choose{
    font-size: 12px;
    font-family: var(--shabnam);
    text-align: center;
    margin-top: 40px;
}